<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>The Ghost of Uchiha</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat suscipit
			omnis magnam soluta sapiente ratione eius vitae tempore laudantium, quo
			modi saepe adipisci, eum totam illum architecto accusamus, minima atque!
		</p>
		<img
			src="https://cdn.myanimelist.net/r/360x360/images/characters/12/450359.jpg?s=9ad1d1dde4c5d7f466d0d70bb272fd2f"
			alt="madara"
		/>
		<p>Rinnegan</p>
	</body>
</html>
